/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* COLORS  */
:root {
    --gray-0: white;
    --gray-1: #F7F7F7;
    --gray-2: #F2F2F2;
    --gray-3: #EAEAEA;
    --gray-4: #B1B1B1;
    --gray-5: #6B7376;
    --black: black;
    
    --lightBeige: #F3EEEA;
    --beige: #DADBD3;

    --lightBlue: #8EDAFC;
    --lightGreen: #D5F9BA;
    --darkGreen: #009688;
  }

/* LAYOUTS  */
.l-main {
    height: 100vh;
    padding: 2rem 6rem;
    background-color: black;
}

.l-row {
    display: flex;
    flex-direction: row;
}
.l-row--centered {
    align-items: center;
}
.l-col {
    display: flex;
    flex-direction: column;
}
.l-grow {
    flex-grow: 1;
}
.l-grow--half {
    flex-grow: .3;
}
.l-overflow {
    overflow-y: scroll;
}

/* COMPONETS  */
.c-background {
    background: linear-gradient(to bottom, var(--darkGreen) 20%, var(--beige) 20%);
}

.c-app {
    background-color: var(--gray-0);
    height: calc(100% - 2rem);
}

.c-infoBar {
    height: 4rem;
    padding: 1rem;
    background-color: var(--gray-3);
}

.c-nome {
    margin-left: .5rem;
    font-weight: 700;
}

.c-avatar {
    display: block;
    width: 3rem;
    border-radius: 50%;
}

.c-input {
    border: none;
    border-radius: .5rem;
    padding: .5rem;
}

.c-icon {
    font-size: 1.5rem;
    color: var(--gray-4);
}
.c-icon--dark {
    color: var(--gray-5);
}

/* first column */
.c-alert {
    background-color: var(--lightBlue);
    padding: .5rem .75rem;
}
.c-alert__icon {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
    background-color: white;
    color: var(--lightBlue);
    margin-right: .5rem;
}
.c-searchBar {
    background-color: var(--gray-2);
    padding: .25rem;
}
/* .c-searchBar__input {
    padding: .25rem 1.25rem;
} */
.c-chatList__chat {
    border-top: solid 1px var(--gray-3);
    padding: .5rem .75rem;
}
.c-chatList__chat--active {
    background-color: var(--gray-3);
}

/* second column  */
.c-chat {
    border-left: solid 2px var(--gray-4);
}
.c-chat__content {
    background-image: url(../img/mine.jpg);
}
.c-inputBar {
    background-color: var(--lightBeige);
    padding: .5rem 2rem; 
}
.c-inputBar__input {
    margin: 0 2rem;
}

/* HELPERS */
.h-text--gray {
    color: var(--gray-5)
}
.h-border {
    border: 1px solid black;
}

